@model Customize_Event_Plan_Project_Services.Models.Order_Details

@{
    ViewBag.Title = "Order_Details";
}

<h2>Order_Details</h2>

@using (Html.BeginForm()) 
{
    
    
    <div class="form-horizontal">
        
        <h2>KINDLY PRESS CONFIRM BUTTON</h2>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CONFIRM" class="btn btn-default" />
            </div>
        </div>
    </div>
}


